.container-filtro ul li {
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);
    font-size: 18px;
    padding: .5em .5em;
    border-radius: 4px;
}

.container-filtro {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

}

.container-filtro ul {
    list-style-type: none;
    display: flex;
    gap: 10px;

}

.container-filtro button {
    border: none;
    background-color: transparent;
    color: var(--cinza-médio);
    font-size: 18px;
}
